[Desktop Entry]
Type=Action
Tooltip=Open in LxTerminal
Name=LxTerminal
Profiles=profile-one;
Icon=utilities-terminal


[X-Action-Profile profile-one]
MimeTypes=inode/directory;
Exec=lxterminal --working-directory=%f
Name=Default profile
